@import url(./__item/photo-grid__item.css);

.photo-grid {
  margin-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-gap: 16px;
  max-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    grid-gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    margin-top: 88px;
    grid-template-columns: repeat(2, 352px);
    grid-gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    margin-top: 66px;
    grid-template-columns: 288px;
    grid-gap: 12px;
  }
}
