.places {
  display: grid;
  justify-content: center;
  grid-row-gap: 87px;
  margin: 100px auto 0;
}

@media screen and (max-width: 1023px) {
  .places {
    margin-top: 91px;
    grid-row-gap: 71px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin-top: 67px;
    grid-row-gap: 53px;
  }
}
