@import url(./__logo/header__logo.css);
@import url(./__langs/header__langs.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 28px auto 0;
  padding: 0 48px;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin-top: 16px;
    padding: 0 16px;
  }
}
