@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 94px auto 22px;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    margin-top: 90px;
    padding: 0 24px;
  }
}


@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin-top: 67px;
    padding: 0 16px;
  }
}
